.first-div {
    width: 500px;
    height: 500px;
    background-color: grey;
    border-width: 3px;
    border-color: rgb(7, 7, 8);
    border-style: solid;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    text-align: center;

}

.normal-para {
    color: rgb(94, 0, 86);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    background-color: aquamarine;
}

#fav-para {
    color: rgb(38, 63, 172);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    background-color: black;
}